@import url(./color.css);
/* Reponsive Humbager Toggle Button */
header{
    font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  transition: all 0.7s ease;
  background-color: #fff;
  z-index: 999;
}
header.active{
    background-color: rgba(255, 255, 255,0.7);
    backdrop-filter: blur(10px) ;
}
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
    height: 3px;
    width: 100%;
    background: var(--mmlinkcolor);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* When Nav button is Clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: opacity(0);
}

.navbar-toggler .button-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: opacity(100);
}

.navbar-toggler.collapsed .button-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

/* ---Reponsive Humbager Toggle Button End--- */
@media (min-width: 576px){
    .dropdown:hover > .dropdown-menu{
        display: block;
        margin-top: 0;
    }
}

.link:hover {
    color: var(--mmlinkcolor) !important;
}
.nav-link.active {
    color: var(--secColor) !important;
}