<link rel="stylesheet" href="./css/header.css">
<header class="py-1 px-3 px-sm-0 sticky-top">
    <div class="container">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="./">
              <img id="movie4mm-Logo" src="./assets/logo/mmlink logo final.png" alt="mm-link" width="220" height=auto />
            </a>
            <!-- Reponsive Button Toggle -->
            <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-around collapsed" type="button"
              data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="toggler-icon top-bar"></span>
              <span class="toggler-icon middle-bar"></span>
              <span class="toggler-icon button-bar"></span>
            </button>
            <!-- Button End -->

            <!-- link Collection start -->
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navCollection navbar-nav ms-auto gap-2  .text-dark">
                <li class="nav-item">
                  <a class="nav-link link" href="./">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="../wifi.php">Wi-Fi</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link link dropdown-toggle"  href="../fttx.php" role="button"
                    aria-expanded="false">FTTx</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Plans</a></li>
                    <li><a class="dropdown-item" href="/">Business Plan</a></li>
                    <li><a class="dropdown-item" href="/">Coverage Area</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link link dropdown-toggle" href="../prepaidCard.php" role="button"
                    aria-expanded="false">Prepaid Card</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">WiFi Hostspot Area </a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="../news.php">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="../aboutus.php">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="../contactus.php">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link link dropdown-toggle" href="../howto.php" role="button"
                    aria-expanded="false">How To</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Pay Bill</a></li>
                    <li><a class="dropdown-item" href="/">App Guide</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- link Collection end -->
          </nav>
        </div>
  </header>
  <script src="./js/header.js"></script>